body {
  background-image: url(images.jpg);
  background-size:cover ;
  background-position: center;
  height: 300px;
  display: flex;
  align-items: center;
  background-color:rgb(68, 219, 182);
  }