body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

nav {
  background-color: rgb(206, 131, 131);
  position: relative;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu{
    margin: auto;
    text-align: center;
}

.menu > li {
  float: left;
  position: relative;
}

.menu > li > a {
  display: block;
  padding: 14px 20px;
  color: white;
  text-decoration: none;
}

.menu > li:hover {
  background-color: rgb(223, 157, 157);
}

.submenu {
  display: none;
  position: absolute;
  background-color: rgb(216, 161, 161);
  min-width: 160px;
  z-index: 1;
}

.submenu li a {
  color: white;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
}

.submenu li a:hover {
  background-color: rgb(214, 158, 158);
}

.menu li:hover .submenu {
  display: block;
}

/* Limpiar flotado */
nav::after {
  content: "";
  clear: both;
  display: table;
}

  