*{
    margin: 0;
    
}
header{
    background:url(456.jpg)no-repeat;
    background-size:cover;
    height:1050px;
    overflow:hidden;
    }

/* header */
.header{
    width: 100%;
    height: 250px;
    background-size:cover;
    background: #2980B9;  
  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  
  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #297fb998);  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  