.position {
    position :absolute;
    top:80%;
    left:40%;
    transform: translate(-50%, -50%);

}

.slider {
    background-image: url(22.jpg);
    background-size: cover;
    height: 40%;
    width: 20%;
    border-radius: 10px;
    animation: animacion 10s infinite;

}
@keyframes animacion {
    20% {
        background-image: url(5.jpg);
        background-size: cover;
    }
    40% {
        background-image: url(005.jpg);
          background-size: cover;
    }
    60% {
        background-image: url(descarga.jpg);
          background-size: cover;
    }
    80% {
        background-image: url(6.jpg);
          background-size: cover;
    }
    100% {
        background-image: url(h.jpg);
          background-size: cover;
    }
    
}