.slider{
  aspect-ratio: 16/16;
  width: 400px;
  position: relative;
  display: flex;
  overflow: scroll;
  scroll-snap-type: x mandatory;
 }
 .slider img {
  width: 100%;
  left: 80;
  position: sticky;
  object-fit: cover;
  border-radius: 5px;
scroll-snap-align: center;

 }