@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Licorice&family=Playwrite+HU:wght@100..400&display=swap');

:root{
    --primary-color: rgb(206, 131, 131);
    --background-color: rgb(206, 131, 131);
    --dark-color: rgb(255, 255, 255);
}

html{
    font-size: 62.5%;
    font-family: 'Licorice', sans-serif;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/* ************************************************** */
/* UTILIDADES                                         */
/* ************************************************** */
.container {
    max-width: 120rem;
    margin: 0 auto;
}
/* ************************************************** */
/* HEADER                                             */
/* ************************************************** */
.container-hero{
    background-color: var(--background-color);
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}